/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2020, 7:46:31 PM
    Author     : ACER
*/


.text-menu-utama{
    -fx-font-size: 15px;
    -fx-text-fill: #C7C7C7; 
    -fx-font-weight: bold; 
}

.label-menu{
    -fx-font-size: 20px; 
    -fx-font-weight: bold; 
}

.btn-logout{
    -fx-border-color: #2B4EF0;
    -fx-cursor: hand;
    
}
.profile-pane{
    -fx-border-color: #fff;
    -fx-background-color: #2B4EF0;
}

.btn-menu{
    -fx-background-color: #2B4EF0;
    -fx-cursor: hand;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    
    
}

.btn-menu:hover{
    -fx-background-color: #0f25d5;
}




.tab{
    -fx-background-color: #189AD3;
    -fx-pref-width: 250;
    -fx-pref-height: 40;
}

.tab-pane .tab:selected
{
    -fx-background-color: #005073;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color:transparent;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
    -fx-pref-height: 4px;
}

.profil-info-pane{
    -fx-background-color: #fff;
     -fx-background-radius:10;
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 25, 0, 5, 5);
}

.field-info-profil {
     -fx-background-color: #fff;
     -fx-border-color: rgba(0,0,0,0.3);
     -fx-background-radius:10;
     
}

.tes{
     -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 2, 2);
}




