/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2020, 6:54:27 AM
    Author     : ACER
*/

.navbar-pane{
    
}


.mulai-button{
    -fx-border-radius: 100pt;
    -fx-background-radius: 100pt;
    -fx-font-color: #fff;
}