/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}



.auth-pane{
    -fx-background-color: linear-gradient(#000080, #0f52ba, #0080ff);
}

.auth-button{
    -fx-background-color:  linear-gradient(to right, #0f52ba, #0080ff);
}

.auth-button:hover{
    -fx-background-color:  #000080;
}


.auth-label:hover{
   -fx-text-fill: #000080;
}

